<post-create
  on-create="ctrl.onPostCreate(post)"
  on-update="ctrl.onPostUpdate(post)"
  on-delete="ctrl.onPostDelete(post)">
</post-create>

<md-list>
  <md-list-item class="md-3-line" ng-repeat="post in ctrl.posts">

    <img ng-if="post.thumbnail_url" ng-src="{{ post.thumbnail_url }}" class="md-avatar md-avatar-big md-avatar-square"/>
    <md-icon ng-if="!post.thumbnail_url" class="md-avatar-icon md-avatar-big md-avatar-square">insert_drive_file</md-icon>

    <div class="md-list-item-text" layout="column">
      <h3>{{ post.title }}</h3>
      <h4>On {{ post.created | date }} by {{ post.user.username }}</h4>
      <a class="post-file" href="#" ng-href="{{ post.file }}" ng-if="post.file" target="_blank"><md-icon>attachment</md-icon> {{ post.file_name }}</a>
    </div>

    <post-delete-button ng-if="ctrl.user.current().user_id == post.user.id" post="post" on-delete="ctrl.onPostDelete(post)"></post-delete-button>

    <md-divider></md-divider>
  </md-list-item>
</md-list>
