md-list-item .md-avatar, md-list-item .md-avatar-icon {
  &.md-avatar-square {border-radius: 0;}
  &.md-avatar-big {width: 64px; height: 64px;}
}
md-list-item .md-avatar-icon {
  &.md-avatar-big {
    width: 48px;
    height: 48px;
    font-size: 48px;
  }
}

ul.post-tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 4px;
  }
}
