<img ng-if="ctrl.post.thumbnail_url" ng-src="{{ ctrl.post.thumbnail_url }}" class="md-avatar md-avatar-big md-avatar-square"/>
<md-icon ng-if="!ctrl.post.thumbnail_url" class="md-avatar-icon md-avatar-big md-avatar-square">insert_drive_file</md-icon>
<div class="md-list-item-text" layout="column">
  <h3>{{ ctrl.post.title }}</h3>
  <h4>On {{ ctrl.post.created | date }} by {{ ctrl.post.user.username }}</h4>
  <a href="#" ng-href="{{ ctrl.post.file }}" ng-if="ctrl.post.file" target="_blank"><md-icon>attachment</md-icon> {{ ctrl.post.file_name }}</a>
  <a href="#" ng-href="{{ ctrl.post.image }}" ng-if="ctrl.post.image" target="_blank"><md-icon>image</md-icon> {{ ctrl.post.image_name }}</a>
  <ul class="post-tag-list">
    <li ng-repeat="tag in ctrl.post.tags">
      {{ tag }}
    </li>
  </ul>
</div>
<md-divider></md-divider>
